.wrapper {
  height: var(--height);
  background: url("/HeroBg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  text-align: center;

  .heading {
    margin-top: 50%;
    font-size: 48px;
    font-weight: 400;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
    font-family: var(--antic-didone);
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    width: 100%;
    margin-top: 75px;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
    opacity: 1;
    visibility: visible;

    h2 {
      font-family: var(--antic-didone);
      font-weight: 400;
      font-size: 25px;
    }
    p {
      font-family: var(--poiret-one);
      font-weight: 400;
      font-size: 18px;
    }
  }

  .isHidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.container {
  position: relative;
  width: 75%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  overflow: hidden;
}

.circle {
  width: 52px;
  min-width: 52px;
  height: 52px;
  min-height: 52px;
  border-radius: 50%;
  border: 1px solid var(--white);
  flex-shrink: 0;
}

.track {
  flex-grow: 1;
  height: 2px;
  border-top: 2px dashed var(--white);
}

.slider {
  position: absolute;
  min-width: 52px;
  min-height: 52px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  touch-action: none;
  user-select: none;
  transition: transform 0.3s ease-out;

  img {
    margin-left: 5px;
  }
}

.locked {
  cursor: default;
  pointer-events: none;
}
