@font-face {
  font-family: "AnticDidone";
  src: url("../assets/fonts/AnticDidone-Regular.ttf");
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../assets/fonts/PlayfairDisplay.ttf");
}

@font-face {
  font-family: "PlayfairDisplaySC";
  src: url("../assets/fonts/PlayfairDisplaySC-Regular.ttf");
}

@font-face {
  font-family: "PoiretOne";
  src: url("../assets/fonts/PoiretOne-Regular.ttf");
}

@font-face {
  font-family: "SavoyeLET";
  src: url("../assets/fonts/savoyeletplain.ttf");
}
