@font-face {
  font-family: "AnticDidone";
  src: url("/fonts/AnticDidone-Regular.ttf");
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("/fonts/PlayfairDisplay.ttf");
}

@font-face {
  font-family: "PlayfairDisplaySC";
  src: url("/fonts/PlayfairDisplaySC-Regular.ttf");
}

@font-face {
  font-family: "PoiretOne";
  src: url("/fonts/PoiretOne-Regular.ttf");
}

@font-face {
  font-family: "SavoyeLET";
  src: url("/fonts/savoyeletplain.ttf");
}
