:root {
  // palette:
  --main-color: #99762c;
  --white: #fff;
  --black: #000;

  // fonts:
  --antic-didone: "AnticDidone";
  --playfair-display: "PlayfairDisplay";
  --playfair-display-sc: "PlayfairDisplaySC";
  --poiret-one: "PoiretOne";
  --savoye-let: "SavoyeLET";
}
